.row-fluid
  Nokogiri has been adopted by Jenny
  %i.icon-map-marker
  Last checking: Time.now

.row-fluid
  %i.icon-map-marker
  Sanderstrasse 28 

.row-fluid
  %a.btn.btn-warning{:href => "#"} Snowstorm? Let Jenny know!