.infowindow
  .row-fluid
    %p 
      %i.icon-map-marker
      Sanderstrasse 28 

  .row-fluid
    %p
      %h5 I'm not adopted and need your care :-)
      = link_to "Adopt", hydrant_path(hydrant), class: "pull-right btn btn-info"