.infowindow
  .row-fluid.text-center
    %p 
      %i.icon-map-marker
      Sanderstrasse 28 
    %h5 I'm not adopted and need your care :-)
  .row-fluid
    = link_to "Adopt", hydrant_path(hydrant), class: "btn btn-danger btn-large span12"