.infowindow
  .row-fluid
    %p 
      %i.icon-map-marker
      Sanderstrasse 28 

  .row-fluid
    %p
      %h5 I'm not adopted and need your care :-)
      %a.pull-right.btn.btn-info{:href => "#"} Adopt!