%hr/
.help-block
  Made possible by <a href="http://twitter.com/rebyn">@rebyn</a>, at Berlin Battle Hack 2013.
  %br/ 
  Banner photo &copy; <a href="http://www.flickr.com/photos/30493186@N03/7199022078/in/photolist-bY9Ssj-8FZ7ud-dteuEX-8miMRE-dtQbmD-9mxHD1-83XpBU-8imvYs-83KGHF-9yncS6-9K83x3-dpA64z-bQJ5Tk-8xSRTE-dmM2kX-9dsbUK-deQYMD-aEse13-9xics5-9gBsWT-deZf5M-bTY2uK-a2YEqP-dxDFbT-dxHqYc-d6MftG-enMpWV-eakMBm-7ShZKo-enCzt8-9Un4X5-9ehwxf-dxKEvA-a8fmvR-9iUGK2-89kUa8-8PUwNj-9zDxrj-boUYZH">Rudolf VlÄek</a>.