.header-container
  .content-area
    .row-fluid
      .span6
        = link_to "ROOT", root_path
      .span6.text-right
        %a.btn.btn-danger{:href => "#"} Signup
        %a.btn.btn-primary{:href => "#"} Signin